# Unity
Library/
Temp/
Logs/
UserSettings/
obj/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vs/
.vscode/
*.swp
*.swo

# Build
Build/
Builds/
